body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #222222;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    border-bottom: 1px solid #ddd;
}


.logo {
    font-size: 28px;
    font-weight: bold;
    color: #111;
}


.logo span {
    color: #1f8fff;
}


nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #222;
}


nav a:hover {
    color: #16a34a;
}


.hero {
    text-align: center;
    padding: 90px 20px;
    background: #f5f9fc;
}


.hero h1 {
    font-size: 48px;
}


.hero p {
    font-size: 20px;
    max-width: 650px;
    margin: auto;
}


.button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background: #16a34a;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}


.button:hover {
    background: #12813a;
}


.about {
    padding: 60px 10%;
    text-align:center;
}


footer {
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}
